---
- name: Ensure dependancies gsutil are installed for Debian OS family
  apt: pkg=gcc,python-dev,python-setuptools,libffi-dev state=present
  when: ansible_os_family == "Debian"
  environment: gsutil_environment
  tags: ["packages","gsutil"]

- name: Ensure dependancies gsutil are installed for RedHat OS family
  yum: name=gcc,openssl-devel,python-devel,python-setuptools,libffi-devel state=present
  when: ansible_os_family == "RedHat"
  environment: gsutil_environment
  tags: ["packages","gsutil"]

- name: Ensure pip is installed
  easy_install: name=pip
  environment: gsutil_environment
  tags: ["packages","gsutil"]

- name: Ensure the right version of pyOpenSSL is installed
  pip: name=pyOpenSSL version=0.13
  environment: gsutil_environment
  tags: ["packages","gsutil"]

- name: Ensure gsutil is installed
  pip: name=gsutil state=present
  environment: gsutil_environment
  tags: ["packages","gsutil"]

- name: Ensure .boto base is present for each user
  copy: src=boto dest="/home/{{item.user}}/.boto" owner="{{item.user}}" group="{{item.group|default(item.user)}}" mode=600 force=no
  with_items: gsutil_users_config
  tags: ["configuration","gsutil"]

- name: Ensure .boto is present for each user
  lineinfile: dest="/home/{{item.0.user}}/.boto" regexp="^#?{{ item.1.keys().0 }} ?=" insertafter=EOF line="{{ item.1.keys().0 }} = {{ item.1.values().0 }}" owner="{{item.0.user}}" group="{{item.0.group|default(item.0.user)}}" mode=600
  with_subelements:
     - gsutil_users_config
     - vars
  tags: ["configuration","gsutil"]


